﻿@model LoginPrac.Models.User;

@{ 
    ViewData["Title"] = "Registration";
}

<form asp-controller="Login" asp-action="Registering">
    <div asp-validation-summary="ModelOnly" class="text-danger" />
    <div class="form-group">
        <label asp-for="Username" class="control-label" />
        <input asp-for="Username" class="form-control" placeholder="Username *" type="text" />
        <span asp-validation-for="Username" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label" />
        <input asp-for="Password" class="form-control" placeholder="Password *" type="password" />
        <span asp-validation-for="Password" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label" />
        <input asp-for="FirstName" class="form-control" placeholder="First Name" type="text" />
        <span asp-validation-for="FirstName" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label" />
        <input asp-for="LastName" class="form-control" placeholder="Last Name" type="text" />
        <span asp-validation-for="LastName" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label" />
        <input asp-for="Email" class="form-control" placeholder="Email" type="email" />
        <span asp-validation-for="Email" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Mobile" class="control-label" />
        <input asp-for="Mobile" class="form-control" placeholder="Mobile" type="text" />
        <span asp-validation-for="Mobile" class="text-danger" />
    </div>
    <div class="form-group">
        <input type="submit" value="Register An Account" class="btn btn-success" />
    </div>
</form>