﻿@{
    ViewData["Title"] = "First Page";
}

<h1>Welcome to Logged In</h1>
<h3>For that authentic, create an account and login experience</h3>
<hr />
<h4><a asp-controller="Login" asp-action="Register">Click</a> to register</h4>